<div class="date-range-container" [formGroup]="filterForm">
    From: <input type="text" 
           #dateFromDp="dpDayPicker"
           [dpDayPicker]="dayPickerConfig"
           [theme]="'dp-material'"
           formControlName="dateFrom"
           mode='daytime'
           (onChange)="$event" />

    To: <input type="text" 
           #dateToDp="dpDayPicker"
           [dpDayPicker]="dayPickerConfig"
           [displayDate]="displayDate"
           [theme]="'dp-material'"
           formControlName="dateTo"
           mode='daytime'
           (onChange)="$event" />
</div>
