/* You can add global styles to this file, and also import other style files */

// Free font-awesome
@import "../../../../node_modules/font-awesome/css/font-awesome.css";
@import "../../../../node_modules/@fortawesome/fontawesome-free/css/all.css";

// Start bootstrap style.
//@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../../node_modules/startbootstrap-sb-admin-2/css/sb-admin-2.css";

// regular style toast
@import "../../../../node_modules/ngx-toastr/toastr.css";

// bootstrap style toast
// or import a bootstrap 4 alert styled design (SASS ONLY)
// should be after your bootstrap imports, it uses bs4 variables, mixins, functions
// @import '../../../../node_modules/ngx-toastr/toastr-bs4-alert.scss';

// // if you'd like to use it without importing all of bootstrap it requires
// @import '/bootstrap/scss/functions';
// @import '~bootstrap/scss/variables';
// @import '~bootstrap/scss/mixins';
// @import '~ngx-toastr/toastr-bs4-alert';
@import "../../../../node_modules/bootstrap/scss/functions.scss";
@import "../../../../node_modules/bootstrap/scss/variables.scss";
@import "../../../../node_modules/bootstrap/scss/mixins.scss";
@import "../../../../node_modules/bootstrap/scss/toasts.scss";
@import "../../../../node_modules/ngx-toastr/toastr-bs4-alert.scss";

body {
  height: auto;
}

.toast-message {
  margin: 0;
  position: inherit;
  border: none;
}
