<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center"
   href="javascript:void(0)">
  <div class="sidebar-brand-icon" [routerLink]="['/patient']">
    <i class="fas fa-home"></i>
  </div>
</a>

<!-- Divider -->
<hr class="sidebar-divider my-0">

<!-- Nav Item - Dashboard -->
<li class="nav-item active">
  <a class="nav-link" [routerLink]="['/patient']">
    <i class="fas fa-fw fa-hospital-user"></i>
    <span>Patients</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">
